# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Sensitive variable files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local plan files
*.plan

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terraform.lock.hcl


# Ignore Terraform provider binaries
variables/windows_386/*.exe
